<div class="search-bar">
    <h2>Search Products</h2>
    <form action="/products" method="get">
    <input type="text" name="name" placeholder="Enter product name" value="<%= searchOptions.name %>">
    <button type="submit">Search</button>
    </form>
</div>
<br>
<div class="products-container">
    <% products.forEach(product => { %>
    <div class="product-item">
        <span class="product-detail"><%= product.name %></span>
        <img class="product-image" src="<%= product.productImagePath %>">
        <span class="product-detail">€<%= product.price %></span>
        <div class="buttons">
            <a href="/products/<%= product.id %>">View</a>
            <form action="/cart/<%= product.id %>/add" method="post">
                <button type="submit"><i class="fa-solid fa-cart-shopping"></i></button>
            </form>    
        </div> 
    </div>
    <% }) %>  
</div>

<a href="/products/new" class="add-product">Add product</a>